@use "./color" as var;
@use "./unit" as *;

$colors: (
  "Book": var.$green,
  "News": var.$yellow,
  "Board": var.$brown,
  "Favorite": var.$orange,
  "Twitter": var.$blue,
);

@each $section, $color in $colors {
  .accent#{$section} {
    color: $color;
  }
}

// 스프라이트 배경이미지
.sprite {
  min-height: rem(60px);
  background-image: url(./../assets/images/sprite_main.png);
  background-repeat: no-repeat;
  padding-left: rem(64px);

  $sprites: Book, Board, News, Favorite, Twitter;
  $x: 0;
  $y: 0;
  @each $sprite in $sprites {
    &#{$sprite} {
      background-position: $x $y;
    }
    $y: $y - 115px;
  }
}
