@use "./../utils" as *;

.appMain {
  background: yellow;
  display: grid;
  @include paddingX(20px);
  @include paddingY(16px);

  @include mobile {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    row-gap: 16px;
  }

  @include desktop {
    @include containerMax;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    row-gap: 16px;
    column-gap: 20px;
    grid-template-areas:
      "news news news news news news news news news news news news"
      "book book book book twitter twitter twitter twitter twitter favorite favorite favorite"
      "book book book book . board board board board board board board";
  }
}

@include desktop {
  // 추천 서적
  .book {
    grid-area: book;
  }

  // 새소식
  .news {
    grid-area: news;
  }

  // 게시판
  .board {
    grid-area: board;
  }

  // 인기 사이트
  .favorite {
    grid-area: favorite;
  }

  // 트위터
  .twitter {
    grid-area: twitter;
  }
}
