@use "./../utils" as *;

.appMain {
  @include paddingX(20px);
  @include paddingY(16px);

  @include mobile {
    @include gridbox(1, 100%, 16px);
  }

  @include desktop {
    @include containerMax;
    @include gridbox(12, 1fr, 16px, 20px);
    grid-template-areas:
      "news news news news news news news news news news news news"
      "book book book book twitter twitter twitter twitter twitter favorite favorite favorite"
      "book book book book . board board board board board board board";
  }
}

// 메인 콘텐츠 (데스크탑에만 적용)
@include desktop {
  // 추천 서적
  .book {
    grid-area: book;
  }

  // 새소식
  .news {
    grid-area: news;
  }

  // 게시판
  .board {
    grid-area: board;
  }

  // 인기 사이트
  .favorite {
    grid-area: favorite;
  }

  // 트위터
  .twitter {
    grid-area: twitter;
  }
}

/* .accentBook {
  color: #abd375;
}
.accentNews {
  color: #e8ca58;
}
.accentBoard {
  color: #988574;
}
.accentFavorite {
  color: #eea60a;
}
.accentTwitter {
  color: #6aaee6;
}
.sprite {
  min-height: rem(60px);
  padding-left: rem(64px);
  background-image: url(../images/sprite_main.png);
  background-repeat: no-repeat;
  font-size: rem(18px);
  font-weight: 700;
  @include flexbox(column, center);

  [class*="enTitle"] {
    font-size: rem(16px);
    font-weight: 400;
  }
}
.spriteBook {
  background-position: 0 0;
}
.spriteBoard {
  background-position: 0 -115px;
}
.spriteNews {
  background-position: 0 -230px;
}
.spriteFavorite {
  background-position: 0 -345px;
}
.spriteTwitter {
  background-position: 0 -460px;
} */
